//Colours should always only appear in this colours.scss
$black: #000;
$white: #fff;
$white-60: rgba($white, .6 );
$grey: #333333;
$darkOrange: #FA9200;
$carrotOrange: #F59520;
$summerSky: #7ac8e4;
$summersPro: #62bcdc;
$eclipse: #404040;
$zambezi: #585858;
$silver:#C0C0C0;
$nobel: #A2A2A2;
$gunPowder: #4B4B4C;
$gunPowder-97: rgba($gunPowder, .97 );
$orangepeel: #FA9800;
$orangepeel-70: rgba($orangepeel, .70 );
$fliceBlue: #F5F8FA;
$nero: #1A1A1A;
$nobel: #999999;
$green: #9cc051;
$red: #d26a40;
$arara:  rgba(71,165,228,.12);